NODE_ENV=development
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=wagering
DATABASE_USER=wagering
DATABASE_PASSWORD=wagering

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://localhost:4566
SQS_WAGER_TRANSACTIONS_QUEUE_URL=http://localhost:4566/000000000000/wager-transactions.fifo
SQS_WAGER_TRANSACTIONS_DLQ_URL=http://localhost:4566/000000000000/wager-transactions-dlq.fifo
SQS_INTEGRATION_EVENTS_QUEUE_URL=http://localhost:4566/000000000000/integration-events.fifo
SQS_CONSUMER_NAME=wager-transactions-consumer
SQS_MAX_RECEIVE_COUNT=5
MESSAGING_ENABLED=true
